{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "arrow-function"
  ],
  "rules": {
    "strict": 0,
    "max-len": [2, 80, 2],
    "no-new-object": 2,
    "no-array-constructor": 2,
    "quotes": [2, "single"],
    "quote-props": [2, "as-needed"],
    "indent": [2, 2],
    "no-multi-str": 2,
    "no-multi-spaces": 2,
    "no-shadow-restricted-names": 2,
    "dot-notation": 2,
    "no-var": 2,
    "no-unused-vars": 2,
    "eqeqeq": 2,
    "use-isnan": 2,
    "no-eq-null": 2,
    "brace-style": 2,
    "spaced-line-comment": 2,
    "valid-jsdoc": 2,
    "space-infix-ops": 2,
    "eol-last": 2,
    "space-before-blocks": 2,
    "comma-dangle": [2, "always-multiline"],
    "comma-style": 2,
    "semi": [2, "always"],
    "semi-spacing": 2,
    "no-extra-boolean-cast": 2,
    "space-before-function-paren": [2, "never"],
    "no-spaced-func": 2,
    "no-wrap-func": 2,
    "one-var": [2, "never"],
    "camelcase": 2,
    "key-spacing": 2,
    "no-dupe-keys": 2,
    "no-use-before-define": [2, "nofunc"],
    "valid-jsdoc": 0,
    "new-cap": [2, {
      "capIsNewExceptions": [
        "List",
        "OrderedMap",
        "Map",
        "Set",
        "OrderedSet",
        "Stack",
        "Range",
        "Repeat",
        "Record",
        "Seq",
        "KeyedSeq",
        "IndexedSeq",
        "SetSeq",
        "Iterable",
        "KeyedIterable",
        "IndexedIterable",
        "SetIterable",
        "Collection",
        "KeyedCollection",
        "IndexedCollection",
        "SetCollection"
      ]
    }],
    "arrow-function/paren": 2,
    "arrow-function/no-condition": 2,
    "arrow-function/space": 2,
    "arrow-function/return-shorthand": [2, "only-object"]
  }
}
